<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True" />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href={{asset "css/bootstrap.min.css"}} rel="stylesheet" />
    <link href={{asset "css/now-ui-kit.css"}} rel="stylesheet" />

    <title>{{meta_title}}</title>
    {{! this tag used to SEO}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    {{> site-nav}}

    {{{body}}}

    {{ghost_foot}}

    <!--   Core JS Files   -->
    <script src={{asset "js/core/jquery.min.js"}} type="text/javascript"></script>
    <script src={{asset "js/core/popper.min.js"}} type="text/javascript"></script>
    <script src={{asset "js/core/bootstrap.min.js"}} type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src={{asset "js/plugins/bootstrap-switch.js"}}></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src={{asset "js/plugins/nouislider.min.js"}} type=" text/javascript"> </script> <!-- Plugin for the
        DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src={{asset "js/plugins/bootstrap-datepicker.js"}} type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    {{!--
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> --}}
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src={{asset "js/now-ui-kit.js"}} type="text/javascript"></script>

</body>

</html>